@model TestDynamicColoumn.Models.DataViewModel

<form>
    <input type="text" class="form-control" value="1" name="MonthStart">
    <input type="text" class="form-control" value="2023" name="YearStart">
    <input type="text" class="form-control" value="12" name="MonthEnd">
    <input type="text" class="form-control" value="2023" name="YearEnd">
    <input type="submit" value="Filter">
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            @foreach (var header in Model.Headers)
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Data)
        {
            <tr>
                <td>@row.Key</td>
                @foreach (var cell in row.Value)
                {
                    <td>@cell</td>
                }
            </tr>
        }
    </tbody>
</table>

